/* quickest way to check if file linked correctly */
body {
    font-family: 'Montserrat', sans-serif;
}



#logo {
    padding-left: 3rem;
    /* height: 83px;
    width: 137px; */
}

.customnav {
    height: 5rem;
    position: relative;
    background-color: green;
}

.menubar {
    margin: 0;
    position: absolute;
    top: 50%;
    padding-left: 2rem;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* #searchicon {
    margin: 0;
    position: absolute;
    top: 50%;
    padding-left: 1rem;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
} */

.logo {
    margin: 0;
    position: absolute;
    top: 50%;
    padding-left: 6rem;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#navrow {
    /* background-color: aqua; */
    height: 5rem;
    border: 1px solid rgb(94, 97, 94);


}

/* 
#col1 {
    background-color: red;

}

#col2 {
    background-color: blueviolet;
}

#col3 {
    background-color: yellow;
}

#col4 {
    background-color: maroon;
} */

#col5 {
    background-color: #DFDFDF;
}


#sidebar {
    margin: 0;
    position: absolute;
    top: 50%;
    padding-left: 2rem;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#magiclogo {
    margin: 0;
    position: absolute;
    top: 50%;
    /* padding-left: 1rem; */
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#searchlogo {
    margin: 0;
    position: absolute;
    top: 50%;
    padding-left: 1.5rem;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}