body {
    font-family: 'Montserrat', sans-serif;
}


nav {
    height: 4rem !important;
    background-color: white !important;
    padding: 0 !important;
    color: red !important;
    display: flex;
    align-items: center;
    justify-content: center;

}

#sample {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DFDFDF;
    height: 64px;
    width: 73px;
    font-size: 1.5rem;
    color: black;
}

#navlinks {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    padding-right: 30px;
}

.content {
    background-image: url("../img/back.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 45rem;
    width: 95%;

}