body {
    font-family: 'Montserrat', sans-serif;
}


nav {
    height: 4rem !important;
    background-color: blueviolet !important;
    padding: 0 !important;
    color: red !important;
    display: flex;
    align-items: center;
    justify-content: center;

}

#sample {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DFDFDF;
    height: 64px;
    width: 100px;
    font-size: 1.5rem;
}

#navlinks {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    padding-right: 30px;
}