body {
    font-family: 'Montserrat', sans-serif;
}


nav {
    height: 4rem !important;
    background-color: blueviolet !important;
    padding: 0 !important;
    color: red !important;
    display: flex;
    align-items: center;
    justify-content: center;

}

#sample {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DFDFDF;
    height: 64px;
    width: 73px;
    font-size: 1.5rem;
    color: black;
}

#navlinks {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    padding-right: 30px;
}

.content {
    background-image: url("https://images.unsplash.com/photo-1444464666168-49d633b86797?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1049&q=80");
    background-size: cover;
    background-attachment: fixed;
    background-color: red;
    height: 45rem;
    width: 95%;
}